In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('Iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
df.describe

<bound method NDFrame.describe of       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]>

In [6]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [9]:
df.dtypes #df.dtypes['Id']

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [11]:
df.shape

(150, 6)

In [14]:
df.index

RangeIndex(start=0, stop=150, step=1)

In [15]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [16]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [17]:
df[0:3] #slicing operator

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [18]:
df.loc[0:7,['Id','SepalLengthCm']] #The loc() function is label based data selecting method
                                   # which means that we have to pass the name of the row or column which we want to select.

   Id  SepalLengthCm
0   1            5.1
1   2            4.9
2   3            4.7
3   4            4.6
4   5            5.0
5   6            5.4
6   7            4.6
7   8            5.0

In [20]:
df.iloc[0:7,1:3] #The iloc() function is an indexed-based selecting method 
                 #which means that we have to pass an integer index in the method to select a specific row/column.

   SepalLengthCm  SepalWidthCm
0            5.1           3.5
1            4.9           3.0
2            4.7           3.2
3            4.6           3.1
4            5.0           3.6
5            5.4           3.9
6            4.6           3.4

In [21]:
df.isnull()

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
145  False          False         False          False         False    False
146  False          False         False          False         False    False
147  False          False         False          False         False    False
148  False          False         False          False         False    False
149  False          False         False          False         False    False

[150 rows x 6 columns]

In [23]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

#HOW TO DEAL WITH NULL VALUES

# Drop rows with any null values
data.dropna(axis=0, inplace=True)

# Drop columns with any null values
data.dropna(axis=1, inplace=True)

# Fill null values with mean of the column
data['column_name'].fillna(data['column_name'].mean(), inplace=True)

# Fill null values with median of the column
data['column_name'].fillna(data['column_name'].median(), inplace=True)

# Fill null values with mode of the column
data['column_name'].fillna(data['column_name'].mode()[0], inplace=True)

# Fill null values with a constant value
data['column_name'].fillna('Unknown', inplace=True)

# Forward fill null values (last known value)
data.fillna(method='ffill', inplace=True)

# Backward fill null values (next known value)
data.fillna(method='bfill', inplace=True)

When inplace = True , the data is modified in place, which means it will return nothing and the dataframe is now updated.

In [24]:
# Summarizing variable types
df.dtypes.value_counts()

float64    4
int64      1
object     1
dtype: int64

#DATA FORMATTING
Used to change data type of a column variable

In [28]:
df['SepalLengthCm']=df['SepalLengthCm'].astype('int')

In [29]:
df.dtypes

Id                 int64
SepalLengthCm      int64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

#DATA NORMALIZATION:
Used to map nominal data into uniform scale i.e. (0 to 1).
Also knowns as MIN-MAX SCALING

In [26]:
from sklearn import preprocessing

In [27]:
min_max_scaler=preprocessing.MinMaxScaler() #Creating a minimum and maximum processor object

In [34]:
x=df.iloc[0:10,0:5]
x

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0   1              5           3.5            1.4           0.2
1   2              4           3.0            1.4           0.2
2   3              4           3.2            1.3           0.2
3   4              4           3.1            1.5           0.2
4   5              5           3.6            1.4           0.2
5   6              5           3.9            1.7           0.4
6   7              4           3.4            1.4           0.3
7   8              5           3.4            1.5           0.2
8   9              4           2.9            1.4           0.2
9  10              4           3.1            1.5           0.1

In [35]:
#Create an object to transform the data to fit minmax processor
x_scaled=min_max_scaler.fit_transform(x)

In [38]:
#Run normalizer on dataframe
df_normalized=pd.DataFrame(x_scaled)

In [39]:
df_normalized

          0    1    2     3         4
0  0.000000  1.0  0.6  0.25  0.333333
1  0.111111  0.0  0.1  0.25  0.333333
2  0.222222  0.0  0.3  0.00  0.333333
3  0.333333  0.0  0.2  0.50  0.333333
4  0.444444  1.0  0.7  0.25  0.333333
5  0.555556  1.0  1.0  1.00  1.000000
6  0.666667  0.0  0.5  0.25  0.666667
7  0.777778  1.0  0.5  0.50  0.333333
8  0.888889  0.0  0.0  0.25  0.333333
9  1.000000  0.0  0.2  0.50  0.000000

 Turn categorical variables into quantitative variables in Python.

#LABEL ENCODING

In [40]:
label_encoder=preprocessing.LabelEncoder()

In [42]:
df['Species']=label_encoder.fit_transform(df['Species'])

In [45]:
df['Species'].unique()

array([0, 1, 2])

#ONE HOT ENCODING
We create a dummy variable which is equal to no. of categories in that variable

In [46]:
enc=preprocessing.OneHotEncoder()

In [47]:
pd.get_dummies(df)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1              5           3.5            1.4           0.2        0
1      2              4           3.0            1.4           0.2        0
2      3              4           3.2            1.3           0.2        0
3      4              4           3.1            1.5           0.2        0
4      5              5           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146              6           3.0            5.2           2.3        2
146  147              6           2.5            5.0           1.9        2
147  148              6           3.0            5.2           2.0        2
148  149              6           3.4            5.4           2.3        2
149  150              5           3.0            5.1           1.8        2

[150 rows x 6 columns]